:root{
    --brand-color: #68C527;
}

body{
    height: 100%;
    min-width: 100%;
    margin: 0;
    background-color: white;
    font-family: "Poppins", sans-serif;
}

html{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

/* generic helper */

/* button */
.btn {
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 15px;
}
/* button colors */
.btn-brand {
    background-color: var(--brand-color);
    color: #fff;
}
/* end */
/* button size */
.btn-lg{
    font-size: 40px;
    padding: 30px 50px;
}
/* end */
/* text */
.text-white {
    color: #fff;
}
.text-brand{
    color: var(--brand-color);
}

/* alignment */
.text-center {
    text-align: center;
}
.text-start{
    text-align: left;
}
.text-end {
    text-align: right;
}
/* end */

/* font size */
.fs-normal {
    font-size: 17px;
    line-height: 1.8em;
}
.fs-1{
    font-size:10px;
}
.fs-2 {
    font-size: 20px;
}
.fs-3 {
    font-size: 30px;
}
.fs-4 {
    font-size: 40px;
}
.fs-5{
    font-size: 50px;
}
.text-uppercase{
    text-transform: uppercase;
}
/* end */

/* layout */
.container {
    width: 1280px;
    margin: 0px auto;
}
.content-container {
    display: grid;
    gap: 30px;
}
.d-grid {
    display: grid;
}
.d-flex{
    display: flex;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-evenly {
    justify-content: space-around;
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
/* end */

/* margins */
.mx-50{
    margin-left: 50px;
    margin-right: 50px;
}
.mx-70{
    margin-left: 70px;
    margin-right: 70px;
}

/* padding */
.py-50{
    padding-top: 50px;
    padding-bottom: 50px;
}
.py-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.px-20 {
    padding-right: 20px;
    padding-left: 20px;
}
.px-30{
    padding-right: 30px;
    padding-left: 30px;
}
.px-40 {
    padding-right: 40px;
    padding-left: 40px;
}
.px-50 {
    padding-right: 50px;
    padding-left: 50px;
}
.px-60 {
    padding-right: 60px;
    padding-left: 60px;
}
.px-70 {
    padding-right: 70px;
    padding-left: 70px;
}
/* blurb */
.blurb .blurb-image img{
    width: 130px;
}
.blurb .blurb-title{
    font-size: 20px;
    color: #7D7D7D;
}
.blurb .blurb-description {
    font-size: 16px;
    color: #7D7D7D;
}

/* gaps */
.gap-1{
    gap: 10px;
}
.gap-2 {
    gap: 20px;
}
.gap-3 {
    gap: 30px;
}

/* width */
.w-50{
    width: 50%;
}
/* end */

/* separator */
.h-line-brand{
    height: 3px;
    width: 100%;
    background-color: var(--brand-color);
    margin: 60px 0px;
    display: inline-block;
}

.about-us-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/asset/semiconductor hero - web ready - Copy.jpg") no-repeat center/cover;
}

.find-out img {
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.find-out .find-out-title {
    display: inline-block;
    padding: 30px 0px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 6%);
    border-radius: 10px;
    color: #7D7D7D;
    font-size: 30px;
    width: 450px;
    transform: translateY(-60px);
}

@media only screen and (max-width: 600px) {
    .container{width: 90%;}
    .px-70{padding-right: 30px; padding-left: 30px;}
    .fs-5{font-size: 30px;}
    .fs-normal{font-size: 16px;}
    .sm-flex-col{flex-direction: column;}
    .find-out .find-out-title{width: 80%;font-size: 20px;}
    .w-50{width: 100%;}
    .btn-lg{font-size: 20px; padding: 30px 20px;}
}